
<div class="container">
  <div class="row">
      <!-- <h1>
        Standard ListBox
      </h1>
      <wj-list-box #LB
          [itemsSource]="data"
          [checkedMemberPath]="'selected'"></wj-list-box> -->
      <h1>
        Custom ListBox
      </h1>
      <p> extension of Wijmo ListBox control</p>
      <custom-list-box #customLB
          [itemsSource]="data"
          [checkedMemberPath]="'selected'"
          (selectionChanged)="selectionChanged(customLB)"></custom-list-box>
  </div>

</div>